.ona img{
    width: 30%;
    margin: 20px;
    position: absolute;
        left: 20%;      
}
.ota fieldset{
    border-radius: 5px;
    width: 27%;
    margin: 50px;
    position: absolute;
        left: 50%;
        top: 5%;
}
.ota h1{
    font-family: "Pacifico";
    margin-left: 140px;
    font-size: 50px;
}
.ota input{
    border-radius: 5px;
    padding: 20px;
    padding-left: 150px;
    padding-right: 150px;
    margin: 15px;
    margin-left: 10px;
}
.a h3{
    color: aliceblue;
}
.ota button{
    margin-top: 10px;
    border-radius: 5px;
    padding-left: 210px;
    padding-right: 210px;
    margin-left: 10px;
}
.ota h2{
    margin-left: 160px;
}
.ota a{
    text-decoration: none;
}
#Facebook{
    font-size: 25px;
    position: absolute;
        left: 22%;
}
.parol h3{
    margin-left: 118px;
    font-size: 20px;
}
.ona fieldset{
    border-radius: 5px;
    width: 27%;
    margin: 50px;
    position: absolute;
        left: 50%;
        top: 70%;
}
#acc {
    text-decoration: none;
    color:cornflowerblue;
}
#p{
    font-size: 20px;
    position: absolute;
        top: 85%;
        left: 62%;
}
#playmarket{
    position: absolute;
        top: 91%;
        left: 57%;
}
#store{
    position: absolute;
        top: 91%;
        left: 67%;
}
#API{
    position: absolute;
        top: 105%;
        left: 20%;
}
#Russia{
    width: 5%;
    position: absolute;
        top: 109%;
        left: 43%;
}
#copyright{
    position: absolute;
        top: 107%;
        left: 50%;
}
#ili{
    margin-left: 210px;
}
.parol{
    margin-left: 60px;
}
#mt{
    margin: 10px;
}
#if{
    margin: 10px;
}
#th{
    margin: 10px;
}
#api{
    margin: 10px;
}
#bg{
    margin: 10px;
}
#il{
    margin: 10px;
}
#lc{
    margin: 10px;
}
#mv{
    margin: 10px;
}
#dw{
    margin: 10px;
}
#us{
    margin: 10px;
}
#cd{
    margin: 10px;
}